html {
  box-sizing: border-box;
  background-image: url('https://images.unsplash.com/photo-1536411048007-121867e4129f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f70ce9158c0b1216a037e52137e2825a&auto=format&fit=crop&w=500&q=60');
  background-size: 710px;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  overflow: hidden;
}

body {
  margin-top: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  /* background: #6B0F9C; */
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.panel1 { 

  height: auto;
  justify-content: start;
}
.panel2 { 

  height: auto;
  justify-content: start;
}
.panel3 { 

  height: auto;
  justify-content: start;
}
.panel4 { 

  height: auto;
  justify-content: start;
}
.panel5 { 

  height: auto;
  justify-content: start;
}
.panel6 { 

  height: auto;
  justify-content: start;
}
.panel7 { 
  height: auto;
  justify-content: start;
}
.panel8 { 

  height: auto;
  justify-content: start;
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.panel > *:nth-child(1) { transform: translateY(0%); }
.panel.open-active > *:nth-child(1) { transform: translateY(0); }

/* 
.panel > *:first-child { transform: translateY(-30%); }
.panel.open-active > *:first-child { transform: translateY(0); } 

*/
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0%); }

.panel p {
  margin-top: 10px;
  /* text-transform: uppercase; */
  font-family: lancelot;
  color: black;
  text-shadow: 0 0 4px rgba(1, 69, 255, 0.1), 0 0 14px rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  height: 100%;
}

/* .panel p:nth-child(2) {
  font-size: 4em;
} */
.panel.open {
  flex: 2;
  font-size: 18px;
}
img{
  height: 360px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
